{% load static %}
<header>
      <nav class="navbar navbar-light" style="background-color: lightskyblue">
        <div class="container">
          <a class="navbar-brand" href="{% url 'blog:index' %}">
            <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            Блогикум
          </a>
          <ul class="nav  nav-pills">
          {% include "includes/nav_items.html" with name="Лента записей" url="blog:index" %}
          {% include "includes/nav_items.html" with name="О проекте" url="pages:about" %}
          {% include "includes/nav_items.html" with name="Наши правила" url="pages:rules" %}
          </ul>
        </div>
      </nav>
    </header>